.intro-sect {
  background-color: #EEEEEE;
  justify-content: center;
  align-items: center;
}

.intro-img {
  border-radius: 50%;
  width: 80%;
}

@media (max-width:576px) {
  .intro-img {
    width: 50%;
  }
}

.sect-head {
  font-family: "epicride";
  font-size: calc(3vw + 3vh);
}

.sect-text {
  font-family: "ciutadella-regular";
}

.card-head {
  font-size: calc(3vw + 1vh);
  font-family: "Akshar", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 1;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.card-head-text {
  font-family: "ciutadella-regular";
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: calc(1vw + 1vh);
}

.card-img-wrap {
  position: relative;
  padding-top: 250px;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-mid-img {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
}

.card-mid-img-filter {
  filter: brightness(0.1) drop-shadow(16px 16px 20px black);
}