@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "ciutadella-regular";
  src: url("/ciutadella-cufonfonts/Ciutadella\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "epicride";
  src: url("/italic/Epic\ Ride.ttf") format("truetype");
}

.header {
  height: 70vh;

  position: relative;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.filter {
  width: 100%;
  height: 30%;
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.49997674851190477) 0%,
      rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.banner-vid {
  object-fit: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70vh;
  right: 0px;
  z-index: -1;
  pointer-events: none;
  filter: contrast(110%) brightness(0.6);
  object-position: center center;
}

.nav-bar {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: 2;
}

.navbar-links {
  width: 100%;
  height: 100%;
}

.links {
  width: 80%;
  margin: 0 auto;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  margin-top: 20px;
}

.navbar-links img {
  width: 80px;
  height: 80px;
  filter: invert();
}

/* .navbar-links div:nth-child(1) {
  justify-content: end;
} */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.margin-left {
  margin-left: 70px;
}

.navbar-links a {
  font-family: "Akshar", sans-serif;
  font-weight: 300;
  color: azure;
  text-decoration: none;
  font-size: 20px;
  margin-right: 70px;
}

.header-text {
  width: 70%;
  height: 80%;
  /* background-color: aqua; */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-text h1 {
  font-size: calc(4vw + 2vh);
  font-family: "Bebas Neue";
  font-weight: 600;
  color: azure;
  letter-spacing: 0.2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.header-text h2 {
  font-family: "epicride";
  font-size: calc(4vw + 3vh);
  color: azure;
  line-height: 0.75;
}

footer {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  width: fit-content;
}

.mobile-nav {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  align-items: center;
  overflow: hidden;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1s ease-out;
  height: 100vh;
  z-index: 1000;
  background-color: black;
  transform: translateY(-100%);
}

.box-inner {
  display: grid;
  place-items: center;
}

.mt {
  margin-top: 20px;
}

.box a {
  margin-right: 0;
  font-family: "Akshar", sans-serif;
  font-weight: 300;
  color: azure;
  text-decoration: none;
  font-size: 20px;
}

.mobile-nav a {
  margin-right: 0;
}

.mobile-nav i {
  font-size: 30px;
  margin-right: 15px;
}

@media (max-width: 764px) {
  .links {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
}

.intro-sect {
  background-color: #EEEEEE;
  justify-content: center;
  align-items: center;
}

.intro-img {
  border-radius: 50%;
  width: 80%;
}

@media (max-width:576px) {
  .intro-img {
    width: 50%;
  }
}


.sect-head {
  font-family: "epicride";
  font-size: calc(3vw + 3vh);
}

.sect-text {
  font-family: "ciutedella-regular";
}

.buttons {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-width: 2px;
  border-color: #CCCCCC;
  border-style: solid;
  color: black;
  background: transparent;
  border-radius: 7px;
  min-width: 12rem;
  height: 3rem;
  padding: 0;
  margin: 1rem;
  font-family: "Akshar", sans-serif;
  font-size: 1rem;
  transition: 200ms ease-in, color 200ms ease-out;
}

.buttons:hover {
  outline: none;
  box-shadow: 0 0 40px 40px black inset;
  color: white;
  border-color: transparent;
}

.card-head {
  font-size: calc(3vw + 1vh);
  font-family: "Akshar", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 1;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.card-head-text {
  font-family: "ciutedella-regular";
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: calc(1vw + 1vh);
}

.card-img-wrap {
  position: relative;
  padding-top: 250px;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-mid-img {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
}

.card-mid-img-filter {
  filter: brightness(0.1) drop-shadow(16px 16px 20px black);
}